* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-small {
  width: 60%;
  margin: 0 auto;
}

.menu {
  list-style-type: none;
}
.menu a {
  text-decoration: none;
}

header {
  text-transform: uppercase;
}

.header-top {
  background-color: #0482f9;
  color: #ffffff;
  padding: 3px 0;
}
.header-top .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.6em;
}
.header-top .menu li {
  margin-left: 40px;
}
.header-top .menu li sup {
  font-size: 0.4em;
}

.header-bottom {
  padding: 10px 0;
}
.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom .logo img {
  display: block;
  width: 60px;
}
.header-bottom .menu {
  display: flex;
}
.header-bottom .menu li {
  margin-left: 20px;
}
.header-bottom .menu li a {
  color: #000000;
  font-size: 0.7em;
}
.header-bottom .menu li a i {
  color: #0482f9;
}
.header-bottom .menu li.active {
  border-bottom: 2px solid #0482f9;
}
.header-bottom .menu li.active a {
  color: #0482f9;
}
.header-bottom .menu .search {
  border-bottom: 1px solid #0482f9;
}
.header-bottom .menu .search input {
  border: 0;
  text-align: right;
  width: 100px;
}
.header-bottom .menu .search i {
  font-size: 0.6em;
}

.jumbotron {
  height: 250px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.main-comics {
  text-transform: uppercase;
  color: #ffffff;
}

.series {
  background-color: #1c1c1c;
  padding-bottom: 20px;
}
.series h2 {
  background-color: #0482f9;
  font-size: 1.2em;
  padding: 5px 20px;
  position: relative;
  top: -18px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.series .comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.series .comics-container a {
  text-decoration: none;
  color: #ffffff;
}
.series .comics-container .comic {
  padding: 0 5px 40px 5px;
}
.series .comics-container .comic img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 10px;
}
.series .comics-container .comic-name {
  font-size: 0.6em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.series .btn {
  text-align: center;
}
.series .btn a {
  background-color: #0482f9;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 40px;
  display: inline-block;
  font-size: 0.6em;
}

.buy {
  background-color: #0482f9;
  padding: 30px;
}
.buy .container {
  display: flex;
  justify-content: space-between;
}
.buy .card {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}
.buy .card img {
  height: 40px;
  margin-right: 10px;
}

.comic-image {
  background-color: #0482f9;
  height: 70px;
}
.comic-image img {
  width: 130px;
  position: relative;
  bottom: 140px;
  border: 1px solid #ffffff;
}

.comic-wrapper {
  padding: 50px 0;
}
.comic-wrapper .comic-info {
  display: flex;
}
.comic-wrapper h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #0d3f5e;
}
.comic-wrapper .availability {
  background-color: #58ba59;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  margin: 10px 0;
}
.comic-wrapper .availability .status {
  color: #b3f588;
  text-align: right;
  border-right: 1px solid #000000;
  flex-grow: 1;
}
.comic-wrapper .availability .price,
.comic-wrapper .availability .status,
.comic-wrapper .availability .check-available {
  padding: 10px;
}
.comic-wrapper .description {
  font-size: 0.7em;
}
.comic-wrapper .infos {
  width: 70%;
}
.comic-wrapper .advertisement {
  width: 30%;
  margin-left: 20px;
}
.comic-wrapper .advertisement img {
  width: 100%;
}

.comic-details {
  background-color: #f6f6f6;
  padding: 20px 0 60px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.comic-details .container-small {
  display: flex;
}
.comic-details .talent {
  margin-right: 40px;
  width: 50%;
}
.comic-details .specs {
  width: 50%;
}
.comic-details h3 {
  color: #0d3f5e;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.2em;
  padding-bottom: 20px;
}
.comic-details .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}
.comic-details .row .small-title {
  font-size: 0.7em;
  color: #0d3f5e;
  width: 30%;
}
.comic-details .row .list {
  font-size: 0.7em;
  width: 60%;
}